{
    "env": {
        "jest/globals": true
    },
    "extends": [
        "eslint-config-appium",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "jest",
        "@typescript-eslint"
    ],
    "rules": {
        "no-console": "off",
        "promise/no-native": "off",
        "promise/prefer-await-to-callbacks": "off",
        "promise/prefer-await-to-then": "off",
        "promise/catch-or-return": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
            "extensions": [".js",".ts"]
            }
        }
    }
}
